@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/FiraCode/FiraCode-Regular.otf');
}

html, body, h1 {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

#omniencapsulator {
  display: flex;

  width: 100%;
  height: inherit;
}

#main_sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  min-width: 300px;
  width: 300px;
  height: inherit;

  box-sizing: border-box;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: #AAAAAA;
}

#main_screen {
  flex-grow: 1;

  height: inherit;

  background-color: #DDDDDD;
}

/* ----- SIDEBAR ----- */

#sidebar_title {
  font-family: 'Fira Code', monospace;
  text-align: center;
}

#injection_code {
  flex-grow: 1;

  resize: none;

  font-family: 'Fira Code', monospace;
}

#injection_run {
  font-family: 'Fira Code', monospace;
}
